[Unit]
Description=Douyin_TikTok_Download_API daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/www/wwwroot/Douyin_TikTok_Download_API
ExecStart=/www/wwwroot/Douyin_TikTok_Download_API/start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
